<section id="about" class="about-section">
  <div class="about-container">
    <!-- Left Side: Image -->
    <div class="about-image">
      <img src="https://th.bing.com/th/id/OIP.crYa5ECyYyBlYD7EFpRkGQHaEO?w=300&h=180&c=7&r=0&o=7&pid=1.7&rm=3" alt="Aakash Chauhan">
      <div class="social-icons">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-medium-m"></i></a>
      </div>
    </div>

    <!-- Right Side: Text -->
    <div class="about-text">
      <h2 class="aboutme-Section">About Me</h2>
      <h3>Hi, I'm <span class="highlight">Aakash Chauhan</span></h3>
      <p>
        I am a <strong>DevOps Engineer</strong> passionate about cloud technologies, automation, 
        and building scalable solutions. I specialize in designing modern CI/CD pipelines, 
        managing cloud infrastructure, and ensuring seamless deployments that bring ideas 
        to life faster.
      </p>
      <p>
        With a strong focus on <strong>AWS, Docker, Kubernetes, and Terraform</strong>, I love 
        solving complex problems, improving system reliability, and bridging the gap between 
        development and operations. My goal is to help businesses innovate by delivering 
        <em>efficient, secure, and scalable cloud solutions</em>.
      </p>

      <div class="about-buttons">
        <!-- <button class="btn primary">My Projects</button> -->
        <button class="btn secondary" (click)="downloadCV()">
          <i class="fas fa-download"></i> Download CV
        </button>
      </div>
    </div>
  </div>

  
</section>
