<section id="home" class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      Hello, <span class="highlight">I'm</span><br />
      Aakash Chauhan
    </h1>
    <p class="hero-subtitle">
      I'm a DevOps Engineer and Cloud Engineer based in India. I strive to build immersive and beautiful web applications and cloud solutions through carefully crafted code and user-centric design.
    </p>
    <a class="hero-btn" routerLink="/contact-form">Say Hello!</a>
  </div>
  <div class="hero-image">
    <!-- <img src="https://th.bing.com/th/id/OIP.crYa5ECyYyBlYD7EFpRkGQHaEO?w=300&h=180&c=7&r=0&o=7&pid=1.7&rm=3" alt="Aakash Chauhan" class="profile-photo" /> -->
    <img class = "pfi" src="https://raw.githubusercontent.com/aakash1408/portfolio-website/main/thumbnail_1000006075%20(1).jpg" alt="Aakash Chauhan" class="profile-photo" />
  </div>
</section>
